.mat-toolbar {    
    justify-content: space-between;

    h1 {
        color: #ff44aa;
        font-size: 50px;
        font-family: "Cooper", cursive;
        font-weight: bolder;
        padding: 3px;

        &:hover { font-size: 72px; }
    }
}
