:host {
  margin: 2px;
}

.habit-info {
  margin: 2px;
  background-color: palevioletred;
  padding: 4px;
}

mat-tab-group {
  outline-style: dotted;
  background-color: greenyellow;
  margin: 2px;

}