<p>new-habit works!</p>
<span>Add a form here; name the habit, select the frequency</span>
<form>
    <mat-form-field>
        <mat-label>Habit name</mat-label>
        <input matNativeControl required name ="habitName" [(ngModel)]="enteredName"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Frequency</mat-label>
        <mat-select matNativeControl required name="Frequency" [(ngModel)]="selectedFrequency">
            @for (frequency of frequencyOptions; track frequency) {
                <mat-option [value]="frequency">{{frequency}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</form>
<p>You want to {{enteredName === "" ? `do something - what is it?` : `${enteredName}`}} {{ !!selectedFrequency ?  selectedFrequency : "...how often?"}}</p>